<!DOCTYPE html>
<html>
<head>
	<title>CSS Dinamicas</title>
	<link rel="icon" href="Vue.js_Logo.svg.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style type="text/css" media="screen">
		.glyphicon-check, .glyphicon-unchecked{
			cursor: pointer;
		}
	</style>
</head>
<body>

	<!--
		Evento:
		- v-on:click="message = message.split('').reverse().join('')"
		
		- Tambien puedo hacer @click="evento"

		- v-on:keyup.enter="metodo"

		v-bind:class="{
			'glyphicon': true,
			'glyphicon-check': task.completed,
			'glyphicon-unchecked': !task.completed
		}

		Otro metodo optimo seria
		:class="['glyphicon', task.completed ? 'glyphicon-check': 'glyphicon-unchecked']

	-->
	
	<div class="container">
		<div id="app">
			
			<h2>Lista de tareas</h2>
			<h4>Tareas Completadas  <span v-text="completedTasks"></span></h4>
			<h4>Tareas Incompletas <span v-text="incompletedTasks"></span></h4>
			<ul>
				<li v-for="task in tasks">
					<span v-text="task.title"></span>
					
					<span  @click="completeTask(task)" :class="taskClassess(task)"></span>
				</li>
				<li class="form-inline">
					<input type="text" class="form-control" v-model="newTask" v-on:keyup.enter="addTask">
					<button class="btn btn-primary" @click="addTask">+</button>
				</li>
			</ul>
			<pre>
			</pre>
		</div>
	</div>
	

	<script src="https://unpkg.com/vue"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				newTask:"",
				tasks: [
					{title:"Aprende Angular", completed: true},
					{title:"Aprende PHP", completed: true},
					{title:"Aprende HTML", completed: true},
					{title:"Aprende Git", completed: false}
				]
			},
			methods:{
				addTask: function(){

					if(this.newTask.length <= 1) return alert("La tarea no puede estar en blanco");
					
					this.tasks.push({
						title: this.newTask,
						completed: false
					});
					this.newTask = "";
				},
				completeTask: function(task){
					return task.completed = ! task.completed;
				},
				taskClassess: function(task){
					return ['glyphicon', task.completed ? 'glyphicon-check': 'glyphicon-unchecked']
				}
			},
			computed:{
				completedTasks: function(){
					return this.tasks.filter(function(task) {
						return task.completed;
					}).length;
				},
				incompletedTasks: function(){
					return this.tasks.filter(function(task) {
						return ! task.completed;
					}).length;
				}

			}
		});
	</script>
</body>
</html>